
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
/* Vamos definir a imagem como plano de fundo Login */
  background-image: url('logo.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0d1b1e; /* cor escura de fundo */
}
}
.container {
    text-align: center;
}
.logo {
    width: 120px;
    margin-bottom: 20px;
}
input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 4px;
}
button {
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #008c9e;
}
